$colors: (
	none: (background: transparent, text: #000),
	primary: (background: #0d6efd, text: #FFF),
	secondary: (background: #6C757D, text: #FFF),
	success: (background: #198754, text: #FFF),
	danger: (background: #DC3545, text: #FFF),
	warning: (background: #FFC107, text: #000),
	info: (background: #0BCAF0, text: #000),
	light: (background: #F8F9FA, text: #000),
	dark: (background: #202529, text: #FFF),
	white: (background: #FFFFFF, text: #000)
);